* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 270px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-section {
  text-align: center;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.image-section img {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

h3 {
  color: hsl(219, 36%, 31%);
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

media